<div class="post-container">
	<div class = "title small">	
			<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup class="draft-label">DRAFT</sup>{{ end }}</a>
	</div>
	<div class="date">
		{{ dateFormat "02 Jan 2006" .Date }}
	</div>
	<div class="description">
		{{ if isset .Params "description" }}
			{{ .Description }}
		{{ else if gt (countrunes (.Content | plainify)) 120 }}
			{{ slicestr (.Content | plainify) 0 120 }}...
		{{ else }}
			{{ .Content | plainify }}
		{{ end }}
	</div>
</div>
